.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    font-size: calc(10px + 2vmin);
    color: white;
    justify-content: center;
    align-items: center;

}

.messageBlock {
    min-width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
}

.myMessageBlock {
    align-self: flex-end;
}

.friendMessageBlock {
    align-self: flex-end;
}

.inputsBlock {
    border: black 1px solid;
    min-width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.myInputBlock {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.friendInputBlock {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}